{% extends 'diplom/base.html' %}

{% block content %}
	<table id="myTable2" border="1" align="center">
		<caption>Список специалистов</caption>
		<tr>
			<th onclick="sortTable(0)">Имя</th>
			<th onclick="sortTable(1)">Фамилия</th>
			<th onclick="sortTable(2)">Компания</th>
			<th onclick="sortTable(3)">Описание компании</th>
			<th onclick="sortTable(4)">Должность</th>e
			<th onclick="sortTable(5)">Страна</th>
			<th onclick="sortTable(6)">e-mail</th>
			<th onclick="sortTable(7)">LinkedIn</th>
		</tr>
		{% for post in posts %}
		<tr>
			<td>{{ post.first_name }}</td>
			<td>{{ post.last_name }}</td>
			<td>{{ post.company_name }}</td>
			<td>{{ post.company_description }}</td>
			<td>{{ post.Working_position }}</td>
			<td>{{ post.country }}</td>
			<td>{{ post.e_mail }}</td>
			<td><a href="{{ post.linked_in_reference }}">{{ post.linked_in_reference }}</a></td>
		</tr>
		{% endfor %}
	</table>

<script>
function sortTable(n) {
  var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
  table = document.getElementById("myTable2");
  switching = true;
  dir = "asc"; 
  while (switching) {
    switching = false;
    rows = table.rows;
    for (i = 1; i < (rows.length - 1); i++) {
      shouldSwitch = false;
      x = rows[i].getElementsByTagName("TD")[n];
      y = rows[i + 1].getElementsByTagName("TD")[n];
      if (dir == "asc") {
        if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      } else if (dir == "desc") {
        if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
          shouldSwitch = true;
          break;
        }
      }
    }
    if (shouldSwitch) {
      rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
      switching = true;
      switchcount ++; 
    } else {
      if (switchcount == 0 && dir == "asc") {
        dir = "desc";
        switching = true;
      }
    }
  }
}
</script>
{% endblock %}